/* Content (high-level) */

.content {
    position: relative;
    width: 100%;
    /* 60px and 100px are the sizes of the header and footer.
    If these change, UPDATE THIS CSS or usability will suffer! */
    height: calc(100vh - 60px - 100px);
}

.panel {
    height: 100%;
    background-color: #808080;
    padding: 10px;
}
.workspace {
    height: 100%;
    background-color: #f0f0f0;
}

/* Objects and Object Types */

.object-type {
    background-color: #c0c0c0;
    height: 60px;
    margin: 0 0 10px 0;
    padding: 10px;
}

.object-type-name { display: inline-block; }
.object-type-image {
    float: right;
    height: 100%;
    width: auto;
}

.object-instance-table {
    background-color: #c0c0c0;
    min-width: 60px;
    min-height: 60px;
}
.object-instance-table hr {
    margin: 5px 0;
}
.object-instance-table-fields {
    width: 100%;
    min-height: 30px;
}

.obj-instance-field {
    background-color: #c0c0c0;
}

/* Drag and Drop States */

.dropzone { border: 2px dashed transparent; }
.dropzone-create-drag { border-color: #7971df; }
.dropzone-create-hover { border-color: #2a1ddb; }
.dropzone-move-drag { border-color: #79df71; }
.dropzone-move-hover { border-color: #2adb1d; }
.dropzone-delete-drag { border-color: #df7971; }
.dropzone-delete-hover { border-color: #db2a1d; }
